/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: APrintKey;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 5.4pt;
	cell-padding-left: 5.4pt;
	cell-padding-right: 5.4pt;
	cell-padding-bottom: 5.4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 4;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-APrintKey
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-spacing: 0px 0px;
}

.TableStyle-APrintKey-Column-Column1
{
	
}

.TableStyle-APrintKey-Head-Header1
{
	
}

.TableStyle-APrintKey-HeadI-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-HeadI-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadE-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-HeadE-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadF-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-HeadF-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadH-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-HeadH-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadD-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-HeadD-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadC-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-HeadC-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadB-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-HeadB-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadA-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-HeadA-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-HeadG-Column1-Header1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-HeadG-Column1-Header1 p
{
	
}

.TableStyle-APrintKey-Foot-Footer1
{
	
}

.TableStyle-APrintKey-FootI-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-FootI-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootE-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-FootE-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootF-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-FootF-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootH-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-FootH-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootD-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-FootD-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootC-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-FootC-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootB-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-FootB-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootA-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-FootA-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-FootG-Column1-Footer1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-FootG-Column1-Footer1 p
{
	
}

.TableStyle-APrintKey-Body-Body1
{
	
}

.TableStyle-APrintKey-BodyI-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyI-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyE-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyE-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyF-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyF-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyH-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyH-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyD-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-APrintKey-BodyD-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyC-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyC-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyB-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyB-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyA-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-BodyA-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-BodyG-Column1-Body1
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-APrintKey-BodyG-Column1-Body1 p
{
	
}

.TableStyle-APrintKey-Body-Body2
{
	
}

.TableStyle-APrintKey-BodyI-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyI-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyE-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyE-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyF-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyF-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyH-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyH-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyD-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-APrintKey-BodyD-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyC-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyC-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyB-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-APrintKey-BodyB-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyA-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
}

.TableStyle-APrintKey-BodyA-Column1-Body2 p
{
	
}

.TableStyle-APrintKey-BodyG-Column1-Body2
{
	padding-left: 5.4pt;
	padding-right: 5.4pt;
	padding-top: 5.4pt;
	padding-bottom: 5.4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-APrintKey-BodyG-Column1-Body2 p
{
	
}


